$faded-color: rgb(145, 143, 143);

.education_section,
.activities_section,
.experience_section,
.experience_section,
.skills_section {
  .content {
    padding: 0;
    font-size: 15px;
  }
  .sub_header {
    margin: 0;
    .time {
      color: $faded-color;
      font-size: 15px;
    }
    .place {
      color: $faded-color;
      font-size: 15px;
    }
  }
}

.education_section {
  .education_item {
    margin: 30px auto;
    .header {
      margin: 0 auto;
      .certificate {
        font-weight: bold;
      }
    }
  }
}

.experience_section {
  .experience_item {
    margin: 30px auto;
    .header {
      margin: 0 auto;
      .company {
        font-weight: bold;
      }
    }
  }
}

.activities_section {
  .activities_item {
    margin: 30px auto;
    .header {
      margin: 0 auto;
      .org {
        font-weight: bold;
      }
    }
  }
}
