{% extends "base.html" %}

{% block main_content %}
    <link href="/about.css" rel="stylesheet" />
    <main>
        <section class="resume-section education">
            <h2 class="section-title">Education</h2>
            {%- for page in section.pages | filter(attribute="extra.type", value="Education") %}        
                <div class="education-item">
                    <div class="education-header">
                    <h3 class="degree">{{page.extra.certificate}}</h3>
                    <span class="university-name">{{page.extra.school}}</span>
                    <span class="dates">Graduated: {{page.extra.to}}</span>
                    </div>
                    <p class="major">Major: Computer Science</p>
                    <p class="honors">Graduated with Honors</p>
                </div>
            {% endfor -%}
        </section> 

        <section class="resume-section experience">
            <h2 class="section-title">Professional Experience</h2>
            {%- for page in section.pages | filter(attribute="extra.type", value="Professional Experience") %}
                <div class="education-item">
                    <div class="education-header">
                    <h3 class="degree">{{page.extra.role}}</h3>
                    <span class="university-name">{{page.extra.company}}</span>
                    <span class="dates">Graduated: {{page.extra.to}}</span>
                    </div>
                    <p class="major">Major: Computer Science</p>
                    <p class="honors">Graduated with Honors</p>
                </div>
            {% endfor -%}
        </section> 

        <section class="resume-section experience">
            <h2 class="section-title">Skills</h2>
            {%- for page in section.pages | filter(attribute="extra.type", value="Skills") %}
                <div class="education-item">
                    {{page.content | safe}}
                </div>
            {% endfor -%}
        </section> 

        <section class="resume-section experience">
            <h2 class="section-title">Activities</h2>
            {%- for page in section.pages | filter(attribute="extra.type", value="Activities") %}
                <div class="education-item">
                    <div class="education-header">
                    <h3 class="degree">{{page.extra.role}}</h3>
                    <span class="university-name">{{page.extra.org}}</span>
                    </div>
                    {{page.content | safe}}
                </div>
            {% endfor -%}
        </section> 
    </main>
{% endblock main_content %}
