{% extends "base.html" %}

{% block main_content %}
    <link href="/about.css" rel="stylesheet" />
    <main>
        <section class="">
            <h2 class="">Education</h2>
            {%- for page in section.pages | filter(attribute="extra.type", value="Education") | reverse %}        
                <div class="">
                    <h3 class="">{{page.extra.certificate}} / {{page.extra.school}}</h3>
                    <span class="">{{page.extra.from}} - {{page.extra.to}},</span>
                    <span class="">{{page.extra.place}}</span>
                    <p>{{page.content | safe}}</p>
                </div>
            {% endfor -%}
        </section> 
        <hr />
        <section class="">
            <h2 class="">Professional Experience</h2>
            {%- for page in section.pages | filter(attribute="extra.type", value="Professional Experience") %}
                <div class="">
                    <h3 class="">{{page.extra.company}} / {{page.extra.role}}</h3>
                    <span class="">{{page.extra.from}} - {{page.extra.to}},</span>
                    <span class="">{{page.extra.place}}</span>
                    <span>{{page.content | safe}}</span>
                </div>
            {% endfor -%}
        </section> 
        <hr />
        <section class="">
            <h2 class="">Skills</h2>
            {%- for page in section.pages | filter(attribute="extra.type", value="Skills") %}
                <div class="">
                    {{page.content | safe}}
                </div>
            {% endfor -%}
        </section> 
        <hr />
        <section class="">
            <h2 class="">Activities</h2>
            {%- for page in section.pages | filter(attribute="extra.type", value="Activities") %}
                <div class="">
                    <h3 class="">{{page.extra.org}} / {{page.extra.role}}</h3>
                    <span class="">{{page.extra.place}}</span>
                    <span>{{page.content | safe}}</span>
                </div>
            {% endfor -%}
        </section> 
    </main>
{% endblock main_content %}
